@import "../../variables.scss";

.About {
    .collapses-container {
        width: 80%;
        margin: 35px auto;

        button {
            font-weight: $weight-high;
            font-size: $font-size-default;
        }
    }
}