.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    p {
        color: #FF6060;
    }

    p:nth-child(1) {
        font-size: 230px;
        font-weight: 700;
    }

    p:nth-child(2) {
        font-size: 36px;
        font-weight: 500;
    }

    a {
        font-weight: 500;
        font-size: 18px;

        &:visited {
            color: inherit;
        }
    }
}