.gallery {
    width: 80%;
    height: 770px;
    margin: 40px auto;
    background-color: #F6F6F6;
    border-radius: 25px;

    padding: 35px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}