.Gallery {
    width: 1240px;
    height: 770px;
    margin: 40px auto;
    padding: 35px;
    box-sizing: border-box;
    background-color: #F6F6F6;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;

    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}