header {
    width: 1240px;
    margin: 50px auto;

    .navbar {
        display: flex;
        justify-content: space-between;

        img {
            height: 68px;
        }

        .navbar-links {
            display: flex;
            align-items: center;
            gap: 57px;

            .links {
                font-size: 24px;
                font-weight: 500;
                list-style: none;
                cursor: pointer;

                &.active {
                    text-decoration: underline;
                }
            }
            
            a {
                text-decoration: none;

                &:visited {
                    color: inherit;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    header {
        width: 90%;
    }
}

@media (max-width: 375px) {
    header {
        margin: 30px auto;

        .navbar {
            img {
                height: 45px;
            }
    
            .navbar-links {
                gap: 25px;
    
                .links {
                    font-size: 15px;
                }
            }
        }
    }
}