.details-container {
    width: 1240px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;

    #logementPicture {
        width: 1240px;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
    }

    .details {
        .text {
            display: flex;
            justify-content: space-between;

            .details-logement {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-top: 15px;
    
                .title-location {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
    
                    h2 {
                        color: #FF6060;
                        font-size: 30px;
                    }
    
                    p {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
    
                .tags {
                    display: flex;
                    gap: 10px;
    
                    .tag {
                        color: #FFFFFF;
                        background-color: #FF6060;
                        padding: 5px;
                        border-radius: 10px;
                    }
                }
            }
    
            .details-host {
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                align-items: flex-end;
                justify-content: space-around;
    
                .host-details {
                    display: flex;
                    align-items: center;
                    gap: 10px;
    
                    .host-name {
                        display: flex;
                        flex-direction: column;
                        text-align: right;
                        color: #FF6060;
                        font-size: 18px;
                        font-weight: 500;
                    }   
    
                    #hostPicture {
                        border-radius: 50%;
                        height: 64px;
                    }
                }
    
                .rate-details {
                    display: flex;
                    justify-content: flex-end;
                    gap: 5px;
            
                    .fa-star {
                        color: #FF6060;
                        font-size: 24px;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            button {
                background-color: #FF6060;
                color: #FFFFFF;
                padding: 10px 20px 10px 10px;
                width: 40%;
                border-radius: 5px;
                border: none;

                display: flex;
                justify-content: space-between;

                font-size: 18px;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}