@import "../../variables.scss";

.Collapse {
    button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: none;
        border-radius: $border-radius-low;
        padding: 10px 20px 10px 10px;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: $font-size-default;
        font-weight: $weight-high;
        cursor: pointer;

        .fa-chevron-up {
            transition: transform 0.3s ease;
        }

        .rotate {
            transform: rotate(180deg);
        }
    }

    .collapse-content {
        margin: 15px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
        font-size: $font-size-default;
        font-weight: $weight-default;
         

        &.open {
            max-height: 375px;
            transition: max-height 1s ease;
            display: flex;
            flex-direction: column;
        }
    }
}