@import "../../variables.scss";

header {
    width: 90%;
    margin: 50px auto;

    .navbar {
        display: flex;
        justify-content: space-between;

        img {
            height: 68px;
        }

        .navbar-links {
            display: flex;
            align-items: center;
            gap: 57px;

            .links {
                font-size: $font-size-medium;
                font-weight: $weight-default;
                list-style: none;
                cursor: pointer;

                &.active {
                    text-decoration: underline;
                }
            }
            
            a {
                text-decoration: none;

                &:visited {
                    color: inherit;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        margin: 30px auto;

        .navbar {
            img {
                height: 45px;
            }
    
            .navbar-links {
                gap: 25px;
    
                .links {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    header {
        .navbar {
            img {
                height: 30px;
            }

            .navbar-links {
                gap: 20px;
    
                .links {
                    font-size: 12px;
                }
            }
        }
    }
}