@import "../../variables.scss";

.container {
    width: 90%;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;

    .details-container {
        .text {
            display: flex;
            justify-content: space-between;

            .details-logement {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-top: 15px;
    
                .title-location {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
    
                    h2 {
                        color: $primary-color;
                        font-size: 30px;
                    }
    
                    p {
                        font-size: $font-size-default;
                        font-weight: $weight-default;
                    }
                }
    
                .tags {
                    display: flex;
                    gap: 10px;
    
                    .tag {
                        color: $secondary-color;
                        background-color: $primary-color;
                        padding: 10px;
                        border-radius: $border-radius-low;
                    }
                }
            }
    
            .details-host {
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                align-items: flex-end;
                justify-content: space-around;
    
                .host-details {
                    display: flex;
                    align-items: center;
                    gap: 10px;
    
                    .host-name {
                        display: flex;
                        flex-direction: column;
                        text-align: right;
                        color: $primary-color;
                        font-size: $font-size-default;
                        font-weight: $weight-default;
                    }   
    
                    #hostPicture {
                        border-radius: 50%;
                        height: 64px;
                    }
                }
    
                .rate-details {
                    display: flex;
                    justify-content: flex-end;
                    gap: 5px;
            
                    .fa-star {
                        color: #E3E3E3;
                        font-size: $font-size-medium;
                    }

                    .active-star {
                        color: $primary-color;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .Collapse {
                width: 40%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 auto 0 auto;

        .details-container {
            .text {
                flex-direction: column;
        
                .details-logement {
                    .title-location {
                        h2 {
                            font-size: $font-size-default;
                            font-weight: $weight-default;
                        }
            
                        p {
                            font-size: 14px;
                            font-weight: $weight-high;
                        }
                    }
        
                    .tags .tag {
                        font-size: 10px;
                        padding: 5px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                    }
                }
        
                .details-host {
                    flex-direction: row-reverse;
                    justify-content: space-between;
        
                    .host-details {
                        .host-name {
                            font-size: 12px;
                        }
        
                        #hostPicture {
                            height: 32px;
                        }
                    }
        
                    .rate-details {
                        .fa-star {
                            font-size: $font-size-default;
                        }
                    }
                }
            }
    
            .buttons {
                flex-direction: column;
    
                .Collapse {
                    width: 100%;
                }
            }
        }
    }
}