@import "../../variables.scss";

.Gallery {
    width: $default-width;
    height: 770px;
    margin: 40px auto;
    padding: 35px;
    box-sizing: border-box;
    background-color: #F6F6F6;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;

    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 1024px) {
    .Gallery {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .Gallery {
        padding: 0;
        background-color: $secondary-color;
        height: auto;
        overflow-y: hidden;
        gap: 10px;
    }
}

@media (max-width: 375px) {
    .Gallery {
        margin: 20px auto 40px auto;
    }
}
