$primary-color: #FF6060;
$secondary-color: #FFFFFF;

$font-size-default: 18px;
$font-size-medium: 24px;

$border-radius-low: 10px;
$border-radius-medium: 25px;

$weight-default: 500;
$weight-high: 700;

$default-width: 1240px;