@import "../../variables.scss";

.Error {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .error-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    
        p {
            color: $primary-color;
        }
    
        p:nth-child(1) {
            font-size: 230px;
            font-weight: $weight-high;
        }
    
        p:nth-child(2) {
            font-size: 36px;
            font-weight: $weight-default;
        }
    
        a {
            font-weight: $weight-default;
            font-size: $font-size-default;
    
            &:visited {
                color: inherit;
            }
        }
    }
}

@media (max-width: 768px) {
    .error-container p:nth-child(2) {
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 375px) {
    .Error {
        gap: 100px;

        .error-container {
            p:nth-child(1) {
                font-size: 96px; 
            }
    
            p:nth-child(2) {
                font-size: $font-size-default; 
                width: 80%;
            }
        }
    }
}